# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = house_renting.settings

[deploy]
url = http://127.0.0.1:6800/
username =
password =
project = house_renting
